{
   "singleQuote": true,
   "printWidth": 100,
   "tabWidth": 2,
   "useTabs": true,
   "semi": false,
   "jsxSingleQuote": false,
   "trailingComma": "none",
   "bracketSpacing": true,
   "jsxBracketSameLine": false
}
