//@import 'src/styles/main';

.text {
	&__bold {
		font-weight: bold;
	}

	&__big {
		font-size: 3rem;
	}
	
	&__middle {
		font-size: 2rem;
	}
	
	&__gray {
		color: #848484;
	}
	
	svg {
		position: relative;
		left: 5%;
	}
}