@import "colors";

@mixin container-button-protection($size){
  color: map-get($primary, 700);
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  @if $size == 'big'{
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  @if $size == 'small'{
    font-size: 2rem;
  }
}
