@import "src/styles/colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
	min-height: 100vh;
}

html {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: map-get($text, 900);
	min-height: 100vh;
}
