@import 'src/styles/main';

.logo {
  max-width: 100%;
	grid-area: logo;
	position: relative;
	
  &__image {
    max-width: 100%;
		width: 100%;
    border: 1px solid $black;
    object-fit: cover;
    display: block;
		//position: absolute;
		//top: 0;
		height: 100%;
  }
}
