.App {
	width: 50%;
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	align-items: center;

	&__logo {
		//max-width: 25rem;
		//align-self: center;
		//justify-self: start;
		display: grid;
		height: 100%;
		grid-template-columns: repeat(4, 1fr [col-start]);
		grid-template-rows: repeat(4, 1fr [row-start]);
		grid-template-areas:
		". . . . "
		". . logo logo "
		". . logo logo "
		". . . . ";
	}

	&__protection-form {
		//align-self: center;
		//justify-self: center;
		place-self: center;
	}
}


