@import "src/styles/main";

.App {
	width: 50%;
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	align-items: center;
	
	@include respond (phone){
		width: 90%;
		//grid-auto-rows: 20rem auto;
	}
	
	

	&__logo {
		max-width: 25rem;
		align-self: center;
		justify-self: start;
		//display: grid;table-component
		//height: 100%;
		//grid-template-columns: repeat(4, 1fr [col-start]);
		//grid-template-rows: repeat(4, 1fr [row-start]);
		//grid-template-areas:
		//". . . . "
		//". . logo logo "
		//". . logo logo "
		//". . . . ";
	}

	@mixin protection-form-respond {
		align-self: start;
		margin-top: 5rem;
	}
	
	&__protection-form {
		//align-self: center;
		//justify-self: center;
		place-self: center;
		
		@include respond (phone){
		 @include protection-form-respond
		};
		
		@include respond (tab-port){
			@include protection-form-respond
		};

		@include respond (tab-land){
			@include protection-form-respond
		};
	}
}

.limit-card-component-wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


