@import 'src/styles/main';

.table-component {
	display: grid;
	justify-items: center;
	align-content: center;
	min-height: 100vh;
	
  &__table {
    width: 80%;
    text-align: center;

		@include respond(phone) {
			grid-row: 2;
		}
		
		@include respond(phone){
			width: 100%;
		}
		
		@mixin deleteColumn {
			&:nth-child(5){
				@include respond(phone){
					display: none;
				}
			}
		}

    th {
      color: map-get($bg, 700);
      height: 3rem;
      font-family: Tahoma, sans-serif;
      font-size: 2rem;
      white-space: nowrap;
      background-color: map-get($warning, 500);
      border: 1px solid map-get($bg, 700);
      font-weight: bold;
			
			@include deleteColumn;
    }
		

    td {
      color: map-get($bg, 700);
      height: 3rem;
      font-family: Tahoma, sans-serif;
      font-size: 1.5rem;
      white-space: nowrap;
      background-color: $white;
      border: 1px solid map-get($bg, 700);

			@include deleteColumn;
    }
  }


  &__button {
    @include container-button-protection('big');
    margin-top: 3rem;

		@include respond(phone) {
			grid-row: 3;
		}
		
		&_red {
			color: map-get($warning, 400);
			@include respond(phone) {
				grid-row: 5;
			}
		}
  }
}


