@import 'src/styles/main';

.table-component {
	display: grid;
	justify-items: center;
	align-content: center;
	min-height: 100vh;
	grid-auto-rows: 100px;

  &__table {
    width: 80%;
    text-align: center;

    th {
      color: map-get($bg, 700);
      height: 3rem;
      font-family: Tahoma, sans-serif;
      font-size: 2rem;
      white-space: nowrap;
      background-color: map-get($warning, 500);
      border: 1px solid map-get($bg, 700);
      font-weight: bold;
    }

    td {
      color: map-get($bg, 700);
      height: 3rem;
      font-family: Tahoma, sans-serif;
      font-size: 1.5rem;
      white-space: nowrap;
      background-color: $white;
      border: 1px solid map-get($bg, 700);
    }
  }


  &__button {
    @include container-button-protection('big');
    margin-top: 3rem;
		
		&_red {
			color: map-get($warning, 400);
		}
  }
}


