@import 'src/styles/colors';

.protection-form {
  display: grid;
	
	
  &__header {
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
  }

  &__status-text{
    color: map-get($error, 600);
    margin-top: 3rem;
    margin-left: auto;
		font-size: 2rem;
    height: 2rem;

    &_pending {
      color: transparent;
    }

		&_blue{
			color: map-get($primary, 500);
		}
		
    &_red{
      color: map-get($error, 600);
    }

    &_green {
      color: map-get($success, 400);
    }
  }

  &__input-container {
    display: grid;
    margin-top: 3rem;
		grid-template-columns: repeat(3,1fr) .5fr repeat(3,1fr);
		grid-column-gap: .75rem;
  }
}

.dash {
  width: 1.5rem;
  height: 5rem;
	display: grid;
	justify-self: center;
	align-items: center;

  &:after{
    content: '';
		width: 100%;
    height: 1px;
    border-bottom: 1px solid map-get($bg, 500);
  }
}
